* {
	background-color: #282828;
	color: #ebdbb2;
	box-sizing: border-box;
	font-family: "JetBrains Mono", sans-serif;
}


body {
	background-color: #282828;
	text-align: center;
	align-items: center;
	font-size: 20px;
}


div, input, button {
	z-index: 1;
	padding: 5px;
	min-height: 40px;
	border-style: solid; 
	margin: 30px;
	margin-bottom: 10px;
	font-size: 30px;
	border-radius: 5px;
	overflow: hidden;
}

.container, .endcontainer {
	background-color: #3c3836;
	padding: 10px;
	margin-left: 200px;
	margin-right: 200px;
}

.textbox {
	background-color: #3c3836;
	border: none;
	max-height: 124px;
	text-align: left;
	overflow-y: hidden;
}

.wpmbox {
	text-align: center;
}

.curr_word {
	background-color: #928374;
	padding: 1px;
	border-radius: 3px;
	position: relative;
}

.word {
	background-color: #3c3836;
	color: #ebdbb2;
}

.typed_word {
	color: #b8bb26;
}

.error {
	color: #fb4934;
}

.curr_word.error {
	background-color: #fb4934;
	color: #ebdbb2;
}

.timer {
	font-size: 50px;
}

.typebox {
	width: 60%;
	font-size: 30px;
	margin: 20px;
	padding: 5px;
	padding-left: 20px;
	outline: none;
	min-height: 40px;
}

.bottom-bar {
	position: fixed;
	bottom: 3px;
	font-size: 20px;
	border: none;
}

.bottom-bar div {
	font-size: 20px;
	z-index: 3;
	margin: 3px;
	border: none;
}

.other {
	background-color: #3c3836;
}
